<div class="main-body" >
  <% @link_days.keys.sort { |a,b| b <=> a }.each do |day| %>
  <div class="links-list" > 

    
    <h3 class="day-date">
        <% if day.strftime('%e') == Date.today.strftime('%e') %>
          <%= 'Today' %><small> <%= "#{day.to_formatted_s(:month_and_day)} "%></small>

        <% else %>
          <%= "#{day.strftime('%A')}" %> <small><%= "#{day.to_formatted_s(:month_and_day)} "%></small>
        <% end %>
        </h3>

   
     </div>
    <% end %>
  
  </div>


</div>






